xml-resources/web-service-references/sapiens_Syncnutriplan_op/wsdl/eucalipto.nutriplan.com.br_8080/g5-senior-services/sapiens_Syncnutriplan_op.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.senior.com.br" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.senior.com.br" name="g5-senior-services">
<types>
<xsd:schema>
<xsd:import namespace="http://services.senior.com.br" schemaLocation="http://eucalipto.nutriplan.com.br:8080/g5-senior-services/sapiens_Syncnutriplan_op?xsd=1"/>
</xsd:schema>
</types>
<message name="CentroDeRecurso">
<part name="user" type="xsd:string"/>
<part name="password" type="xsd:string"/>
<part name="encryption" type="xsd:int"/>
<part name="parameters" type="tns:opCentroDeRecursoIn"/>
</message>
<message name="CentroDeRecursoResponse">
<part name="result" type="tns:opCentroDeRecursoOut"/>
</message>
<message name="DefeitoFabricacao">
<part name="user" type="xsd:string"/>
<part name="password" type="xsd:string"/>
<part name="encryption" type="xsd:int"/>
<part name="parameters" type="tns:opDefeitoFabricacaoIn"/>
</message>
<message name="DefeitoFabricacaoResponse">
<part name="result" type="tns:opDefeitoFabricacaoOut"/>
</message>
<message name="ListaExportado">
<part name="user" type="xsd:string"/>
<part name="password" type="xsd:string"/>
<part name="encryption" type="xsd:int"/>
<part name="parameters" type="tns:opListaExportadoIn"/>
</message>
<message name="ListaExportadoResponse">
<part name="result" type="tns:opListaExportadoOut"/>
</message>
<message name="ApontamentoParada">
<part name="user" type="xsd:string"/>
<part name="password" type="xsd:string"/>
<part name="encryption" type="xsd:int"/>
<part name="parameters" type="tns:opApontamentoParadaIn"/>
</message>
<message name="ApontamentoParadaResponse">
<part name="result" type="tns:opApontamentoParadaOut"/>
</message>
<message name="ApontamentoProducao">
<part name="user" type="xsd:string"/>
<part name="password" type="xsd:string"/>
<part name="encryption" type="xsd:int"/>
<part name="parameters" type="tns:opApontamentoProducaoIn"/>
</message>
<message name="ApontamentoProducaoResponse">
<part name="result" type="tns:opApontamentoProducaoOut"/>
</message>
<message name="TurnoDeTrabalho_x_Horarios">
<part name="user" type="xsd:string"/>
<part name="password" type="xsd:string"/>
<part name="encryption" type="xsd:int"/>
<part name="parameters" type="tns:opTurnoDeTrabalhoXHorariosIn"/>
</message>
<message name="TurnoDeTrabalho_x_HorariosResponse">
<part name="result" type="tns:opTurnoDeTrabalhoXHorariosOut"/>
</message>
<message name="PrioridadeCentroDeRecurso">
<part name="user" type="xsd:string"/>
<part name="password" type="xsd:string"/>
<part name="encryption" type="xsd:int"/>
<part name="parameters" type="tns:opPrioridadeCentroDeRecursoIn"/>
</message>
<message name="PrioridadeCentroDeRecursoResponse">
<part name="result" type="tns:opPrioridadeCentroDeRecursoOut"/>
</message>
<message name="EmpresaOP">
<part name="user" type="xsd:string"/>
<part name="password" type="xsd:string"/>
<part name="encryption" type="xsd:int"/>
<part name="parameters" type="tns:opEmpresaOPIn"/>
</message>
<message name="EmpresaOPResponse">
<part name="result" type="tns:opEmpresaOPOut"/>
</message>
<message name="MotivoParada">
<part name="user" type="xsd:string"/>
<part name="password" type="xsd:string"/>
<part name="encryption" type="xsd:int"/>
<part name="parameters" type="tns:opMotivoParadaIn"/>
</message>
<message name="MotivoParadaResponse">
<part name="result" type="tns:opMotivoParadaOut"/>
</message>
<message name="Usuario">
<part name="user" type="xsd:string"/>
<part name="password" type="xsd:string"/>
<part name="encryption" type="xsd:int"/>
<part name="parameters" type="tns:opUsuarioIn"/>
</message>
<message name="UsuarioResponse">
<part name="result" type="tns:opUsuarioOut"/>
</message>
<message name="ListaTurno">
<part name="user" type="xsd:string"/>
<part name="password" type="xsd:string"/>
<part name="encryption" type="xsd:int"/>
<part name="parameters" type="tns:opListaTurnoIn"/>
</message>
<message name="ListaTurnoResponse">
<part name="result" type="tns:opListaTurnoOut"/>
</message>
<message name="FichaTecnica">
<part name="user" type="xsd:string"/>
<part name="password" type="xsd:string"/>
<part name="encryption" type="xsd:int"/>
<part name="parameters" type="tns:opFichaTecnicaIn"/>
</message>
<message name="FichaTecnicaResponse">
<part name="result" type="tns:opFichaTecnicaOut"/>
</message>
<message name="Operador">
<part name="user" type="xsd:string"/>
<part name="password" type="xsd:string"/>
<part name="encryption" type="xsd:int"/>
<part name="parameters" type="tns:opOperadorIn"/>
</message>
<message name="OperadorResponse">
<part name="result" type="tns:opOperadorOut"/>
</message>
<message name="OrdemProducao">
<part name="user" type="xsd:string"/>
<part name="password" type="xsd:string"/>
<part name="encryption" type="xsd:int"/>
<part name="parameters" type="tns:opOrdemProducaoIn"/>
</message>
<message name="OrdemProducaoResponse">
<part name="result" type="tns:opOrdemProducaoOut"/>
</message>
<portType name="sapiens_Syncnutriplan_op">
<operation name="CentroDeRecurso" parameterOrder="user password encryption parameters">
<input wsam:Action="http://services.senior.com.br/sapiens_Syncnutriplan_op/CentroDeRecursoRequest" message="tns:CentroDeRecurso"/>
<output wsam:Action="http://services.senior.com.br/sapiens_Syncnutriplan_op/CentroDeRecursoResponse" message="tns:CentroDeRecursoResponse"/>
</operation>
<operation name="DefeitoFabricacao" parameterOrder="user password encryption parameters">
<input wsam:Action="http://services.senior.com.br/sapiens_Syncnutriplan_op/DefeitoFabricacaoRequest" message="tns:DefeitoFabricacao"/>
<output wsam:Action="http://services.senior.com.br/sapiens_Syncnutriplan_op/DefeitoFabricacaoResponse" message="tns:DefeitoFabricacaoResponse"/>
</operation>
<operation name="ListaExportado" parameterOrder="user password encryption parameters">
<input wsam:Action="http://services.senior.com.br/sapiens_Syncnutriplan_op/ListaExportadoRequest" message="tns:ListaExportado"/>
<output wsam:Action="http://services.senior.com.br/sapiens_Syncnutriplan_op/ListaExportadoResponse" message="tns:ListaExportadoResponse"/>
</operation>
<operation name="ApontamentoParada" parameterOrder="user password encryption parameters">
<input wsam:Action="http://services.senior.com.br/sapiens_Syncnutriplan_op/ApontamentoParadaRequest" message="tns:ApontamentoParada"/>
<output wsam:Action="http://services.senior.com.br/sapiens_Syncnutriplan_op/ApontamentoParadaResponse" message="tns:ApontamentoParadaResponse"/>
</operation>
<operation name="ApontamentoProducao" parameterOrder="user password encryption parameters">
<input wsam:Action="http://services.senior.com.br/sapiens_Syncnutriplan_op/ApontamentoProducaoRequest" message="tns:ApontamentoProducao"/>
<output wsam:Action="http://services.senior.com.br/sapiens_Syncnutriplan_op/ApontamentoProducaoResponse" message="tns:ApontamentoProducaoResponse"/>
</operation>
<operation name="TurnoDeTrabalho_x_Horarios" parameterOrder="user password encryption parameters">
<input wsam:Action="http://services.senior.com.br/sapiens_Syncnutriplan_op/TurnoDeTrabalho_x_HorariosRequest" message="tns:TurnoDeTrabalho_x_Horarios"/>
<output wsam:Action="http://services.senior.com.br/sapiens_Syncnutriplan_op/TurnoDeTrabalho_x_HorariosResponse" message="tns:TurnoDeTrabalho_x_HorariosResponse"/>
</operation>
<operation name="PrioridadeCentroDeRecurso" parameterOrder="user password encryption parameters">
<input wsam:Action="http://services.senior.com.br/sapiens_Syncnutriplan_op/PrioridadeCentroDeRecursoRequest" message="tns:PrioridadeCentroDeRecurso"/>
<output wsam:Action="http://services.senior.com.br/sapiens_Syncnutriplan_op/PrioridadeCentroDeRecursoResponse" message="tns:PrioridadeCentroDeRecursoResponse"/>
</operation>
<operation name="EmpresaOP" parameterOrder="user password encryption parameters">
<input wsam:Action="http://services.senior.com.br/sapiens_Syncnutriplan_op/EmpresaOPRequest" message="tns:EmpresaOP"/>
<output wsam:Action="http://services.senior.com.br/sapiens_Syncnutriplan_op/EmpresaOPResponse" message="tns:EmpresaOPResponse"/>
</operation>
<operation name="MotivoParada" parameterOrder="user password encryption parameters">
<input wsam:Action="http://services.senior.com.br/sapiens_Syncnutriplan_op/MotivoParadaRequest" message="tns:MotivoParada"/>
<output wsam:Action="http://services.senior.com.br/sapiens_Syncnutriplan_op/MotivoParadaResponse" message="tns:MotivoParadaResponse"/>
</operation>
<operation name="Usuario" parameterOrder="user password encryption parameters">
<input wsam:Action="http://services.senior.com.br/sapiens_Syncnutriplan_op/UsuarioRequest" message="tns:Usuario"/>
<output wsam:Action="http://services.senior.com.br/sapiens_Syncnutriplan_op/UsuarioResponse" message="tns:UsuarioResponse"/>
</operation>
<operation name="ListaTurno" parameterOrder="user password encryption parameters">
<input wsam:Action="http://services.senior.com.br/sapiens_Syncnutriplan_op/ListaTurnoRequest" message="tns:ListaTurno"/>
<output wsam:Action="http://services.senior.com.br/sapiens_Syncnutriplan_op/ListaTurnoResponse" message="tns:ListaTurnoResponse"/>
</operation>
<operation name="FichaTecnica" parameterOrder="user password encryption parameters">
<input wsam:Action="http://services.senior.com.br/sapiens_Syncnutriplan_op/FichaTecnicaRequest" message="tns:FichaTecnica"/>
<output wsam:Action="http://services.senior.com.br/sapiens_Syncnutriplan_op/FichaTecnicaResponse" message="tns:FichaTecnicaResponse"/>
</operation>
<operation name="Operador" parameterOrder="user password encryption parameters">
<input wsam:Action="http://services.senior.com.br/sapiens_Syncnutriplan_op/OperadorRequest" message="tns:Operador"/>
<output wsam:Action="http://services.senior.com.br/sapiens_Syncnutriplan_op/OperadorResponse" message="tns:OperadorResponse"/>
</operation>
<operation name="OrdemProducao" parameterOrder="user password encryption parameters">
<input wsam:Action="http://services.senior.com.br/sapiens_Syncnutriplan_op/OrdemProducaoRequest" message="tns:OrdemProducao"/>
<output wsam:Action="http://services.senior.com.br/sapiens_Syncnutriplan_op/OrdemProducaoResponse" message="tns:OrdemProducaoResponse"/>
</operation>
</portType>
<binding name="sapiens_Syncnutriplan_opPortBinding" type="tns:sapiens_Syncnutriplan_op">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="CentroDeRecurso">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</input>
<output>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</output>
</operation>
<operation name="DefeitoFabricacao">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</input>
<output>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</output>
</operation>
<operation name="ListaExportado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</input>
<output>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</output>
</operation>
<operation name="ApontamentoParada">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</input>
<output>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</output>
</operation>
<operation name="ApontamentoProducao">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</input>
<output>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</output>
</operation>
<operation name="TurnoDeTrabalho_x_Horarios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</input>
<output>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</output>
</operation>
<operation name="PrioridadeCentroDeRecurso">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</input>
<output>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</output>
</operation>
<operation name="EmpresaOP">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</input>
<output>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</output>
</operation>
<operation name="MotivoParada">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</input>
<output>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</output>
</operation>
<operation name="Usuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</input>
<output>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</output>
</operation>
<operation name="ListaTurno">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</input>
<output>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</output>
</operation>
<operation name="FichaTecnica">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</input>
<output>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</output>
</operation>
<operation name="Operador">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</input>
<output>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</output>
</operation>
<operation name="OrdemProducao">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</input>
<output>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</output>
</operation>
</binding>
<service name="g5-senior-services">
<port name="sapiens_Syncnutriplan_opPort" binding="tns:sapiens_Syncnutriplan_opPortBinding">
<soap:address location="http://eucalipto.nutriplan.com.br:8080/g5-senior-services/sapiens_Syncnutriplan_op"/>
</port>
</service>
</definitions>